body {
    background-color: gray;
    
}

h1 {
    color: rgb(65, 65, 202);
}
h1:hover {
    color:blueviolet;
    cursor: pointer;
}
h3 {
    color:green;
    border-color:rgb(29, 119, 92);
    border-radius: 20%;
    border-width: 10px;
}
h3:hover {
    color: gray
}
p {
    color: cyan
}
.special {
    background-color: azure;
}
ul {
    color: lightsalmon;
}
#identity {
    background-color: darkmagenta;
    border-style: solid;
    border-width: 5px;
    border-color: blueviolet;
    border-radius: 10px;
}
form {
    background-color: chartreuse;
}
img {
    border-radius: 20%;
    border-width: 10%;
    border-style: dashed;
}